@media(min-width: 1200px) {
    .search {
        margin-left: auto;
        margin-right: auto;
        width: 900px;
    }
}
@media(max-width: 767px){
    .search {
        width: 100%;
    }
    .table-hover{
        width: 800px;
    }
    .card-img{
        width:100%;
    }
}
.form-horizontal .control-label{
    text-align: left;
}
.bg{
    width: 60px;
    height: 16px;
    background: url("star_gray.png");
}
.over{
    height:16px;
    background:url("star_org.png") no-repeat;
}
#mmaapp{
    height:400px;
}
.modal-content{
    margin-top: 130px;
}
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
}
.show-hide {
    transition: all 0.5s linear;
}

.show-hide.ng-hide {
    transform: translateX(300%);
}

.show-hide-back {
    transition: all 1s linear;
}

.show-hide-back.ng-hide {
    transform: translateX(-300%);
}
.animationIf.ng-enter,
.animationIf.ng-leave {
    -webkit-transition: opacity ease-in-out 0.5s;
    -moz-transition: opacity ease-in-out 0.5s;
    -ms-transition: opacity ease-in-out 0.5s;
    -o-transition: opacity ease-in-out 0.5s;
    transition: opacity ease-in-out 0.5s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
    opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
    opacity: 1;
}